<div id="sidebar" class="lg:hidden fixed inset-0 bg-gray-800 bg-opacity-75 z-50 hidden">
    <div class="w-64 bg-white h-full p-4">
      <button id="close-sidebar" class="text-gray-600 p-2 rounded-md mb-4">
        X <!-- Close icon -->
      </button>
      <ul class="space-y-4">
        <li><a routerLink="/dashboard" class="block text-xl text-blue-600">dashboard</a></li>
        <li><a routerLink="/user" class="block text-xl text-blue-600">user</a></li>
        <li><a routerLink="/vehicle" class="block text-xl text-blue-600">vehicle</a></li>
        <li><a routerLink="/" class="block text-xl text-blue-600">logout</a></li>
      </ul>
    </div>
  </div>
  