<div class="container mx-auto p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
      <!-- Card 1 -->
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-lg font-semibold text-gray-800">Total User</h3>
        <p class="text-4xl font-bold text-gray-900">{{ totalUsers }}</p>
      </div>
  
      <!-- Card 2 -->
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-lg font-semibold text-gray-800">Web User</h3>
        <p class="text-4xl font-bold text-gray-900">{{ androidUsers }}</p>
      </div>
  
      <!-- Card 3 -->
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-lg font-semibold text-gray-800">Android User</h3>
        <p class="text-4xl font-bold text-gray-900">{{ iosUsers }}</p>
      </div>
  
      <!-- Card 4 -->
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-lg font-semibold text-gray-800">Ios User</h3>
        <p class="text-4xl font-bold text-gray-900">{{ webUsers }}</p>
      </div>
    </div>
  </div>
  